<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventos Aranda | Home</title>
  <link rel="stylesheet" th:href="@{/styles/index.css}">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</head>

<body>
  <!--menu-->
  <nav class="navbar navbar-expand-sm navbar-dark py-1" style="background-color: #013a63;">
    <div class="container-fluid">

      <a class="navbar-brand" href="/" style="font-size: 1.7em; font-family: Comfortaa;">
        SOCIETY CLUB
      </a>

              <div class="d-flex align-items-center">
          <a class="navbar-brand d-sm-none me-2" th:href="@{/login}">
            <img
              th:src="@{/img/logo/person-circle.svg}"
              alt="Login"
              width="40"
              height="40"
            />
          </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}"
              style="font-family: Comfortaa; font-size: 1.2em;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/servicios}" style="font-family: Comfortaa; font-size: 1.2em;">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/reserva}" style="font-family: Comfortaa; font-size: 1.2em;">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/cotizar}" style="font-family: Comfortaa; font-size: 1.2em;">Cotizar</a>
          </li>

        </ul>
      </div>
      <a class="navbar-brand d-none d-sm-block" th:href="@{/Login}">
        <img th:src="@{/img/logo/person-circle.svg}" alt="Logo" width="50" height="50"
          class="d-inline-block align-text-top">
      </a>

    </div>
  </nav>

  <div id="carouselExampleIndicators" class="carousel slide position-relative">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" style="max-height:900px;">
        <img th:src="@{/img/quinceañeros/quince.webp}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" style="max-height:700px;">
        <img th:src="@{/img/bodas/groom-putting-ring-bride-s-finger.jpg}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" style="max-height:700px;">
        <img th:src="@{/img/baby_showers/masculino.jpg}" class="d-block w-100" alt="...">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <main style="background-color: #013a63;">
    <section
      style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 50px;">
      <div id="nosotros"
        style="width: 100vw; max-width: 1300px; align-items: center; display: flex; flex-direction: column; justify-content: center;">

        <div class="row">
          <h2 class="text-center" style="font-family: 'Roboto', sans-serif; color: white;">SOBRE NOSOTROS</h2>
          <p class="col" style="text-align: justify; font-size: 1.3rem; font-family: 'Roboto', sans-serif; color: white;">En Eventos
            Society Club nacimos como proveedores de mobiliario para eventos y, con el
            tiempo, hemos evolucionado hasta convertirnos en una empresa especializada en la organización integral de
            celebraciones sociales y corporativas. <br>Nuestro principal objetivo es la satisfacción y tranquilidad de
            nuestros clientes. Por ello, contamos con un equipo profesional que trabaja con pasión para crear
            experiencias
            únicas e inolvidables. </p>
        </div>
      </div>
      <div
        style="height: 40vh; width: 100vw; max-width: 1300px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <h3 class="text-center fw-semibold mb-4" style="color: white;">¿Por qué elegirnos?</h3>
        <div class="row text-center">
          <div class="col md-3 mb-3">
            <div class="p-4 h-100 shadow border-0 hover-shadow">
              <img th:src="@{/img/icons/cheers.png}" alt="Diferencia" class="mb-3 mx-auto d-block" width="60">
              <h4 class="fw-medium" style="color: white;">Marca la diferencia</h4>
              <p style="color: white;">Ofrecemos las últimas tendencias mundiales.</p>
            </div>
          </div>

          <div class="col md-3 mb-3" style="color: white;">
            <div class="p-4 h-100 shadow border-0 hover-shadow">
              <img th:src="@{/img/icons/piggy-bank.png}" alt="Equipo" class="mb-3 mx-auto d-block" width="60">
              <h4 class="fw-medium">El lujo no siempre es caro</h4>
              <p style="color: white;">Nos esforzamos por conseguir lo mejor para tu presupuesto.</p>
            </div>
          </div>

          <div class="col md-3 mb-3">
            <div class="p-4 h-100 shadow border-0 hover-shadow">
              <img th:src="@{/img/icons/holidays-party.png}" alt="Clientes" class="mb-3 mx-auto d-block" width="60">
              <h4 class="fw-medium" style="color: white;">Clientes felices</h4>
              <p style="color: white;">Nuestra prioridad es su satisfacción y tranquilidad.</p>
            </div>
          </div>
          <div class="col md-3 mb-3">
            <div class="p-4 h-100 shadow border-0 hover-shadow">
              <img th:src="@{/img/icons/iconoCorazon.png}" alt="Clientes" class="mb-3 mx-auto d-block" width="60">
              <h4 class="fw-medium" style="color: white;">Expertos en cada detalle</h4>
              <p style="color: white;">Escuchamos tus ideas y sueños para hacerlo realidad</p>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>
  <footer class="text-white text-center text-lg-start bg-black">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <h5 class="text-uppercase" style="color: white;">Eventos Society Club</h5>
          <p style="color: white;">
            Creamos experiencias inolvidables para tus eventos sociales y corporativos.
            Nuestra misión es brindarte tranquilidad y satisfacción en cada detalle.
          </p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <h5 class="text-uppercase" style="color: white;">Enlaces</h5>
          <ul class="list-unstyled mb-0" style="color: white;">
            <li><a href="#" class="text-white text-decoration-none" style="color: white;">Inicio</a></li>
            <li><a href="#" class="text-white text-decoration-none" style="color: white;">Sobre nosotros</a></li>
            <li><a href="#" class="text-white text-decoration-none" style="color: white;">Servicios</a></li>
            <li><a href="#" class="text-white text-decoration-none" style="color: white;">Contacto</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 mb-4">
          <h5 class="text-uppercase">Contactanos</h5>
          <p><i class="bi bi-geo-alt"></i> Lima, Perú</p>
          <p><i class="bi bi-envelope"></i> eventossc@gmail.com</p>
          <p><i class="bi bi-phone"></i> +51 987 654 321 </p>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-black">
      <div class="footer-divider mx-auto mb-3"></div>
      © 2026 Eventos Society Club - Todos los derechos reservados
    </div>
  </footer>
  <style>
    .hover-shadow:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
      transform: translateY(-3px);
      transition: 0.4s;
    }
    .footer-divider {
      width: clamp(80px, 85vw, 1400px);
      height: 1.5px;
      background-color: rgba(100, 99, 99, 0.4);
    }
  </style>
</body>

</html>
